html, body
{
	font-family: arial, sans-serif;
	font-size: 16px;
	width: 100%;
	height: 100%;
	margin: 0px;
	border: 0;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	overflow: hidden;  Disable scrollbars	display: block;  No floating content on sides}

a {
  text-decoration: none;
  color: inherit;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.play {
	display: block;
	font-size: 16px;
	text-align: center;
 
	width: 150px;
	margin: 0 auto;
	
	height: 30px;
	line-height: 30px;
	border: 1px solid #FF0000;
	color: white;
	background-color: #FF0000;
	font-weight: 900;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.play:hover {
  display: block;
  width: 150px;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  border: 1px solid #FFFF00;
  color: yellow;
  font-weight: 900;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.log-container {
    padding:20px;
}

.log {
    display: block;
    resize: none;
    width: 100%;
    overflow: hidden;
}
